<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logDir" value="logs" /> 

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/whatever_api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/whatever_api.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 打印sql需要的一些日志级别 -->

    <logger name="org.apache.ibatis" level="DEBUG" additivity="false">
		<appender-ref ref="console"/>
	</logger>
	<logger name="java.sql" level="DEBUG" additivity="false">
	    <appender-ref ref="console"/>
	</logger>
    <logger name="java.sql" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.quartz" level="INFO" />

    <!-- 表示在控制台以及日志文件中打印info级别以上的日志信息 -->
    <root level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>