<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.whatever.dao.SysFileMapper" >
  <resultMap id="BaseResultMap" type="com.wx.whatever.pojo.SysFile" >
    <constructor >
      <idArg column="fileid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="objectid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="objecttype" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="type" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="oldname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="newname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="size" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="path" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="relativepath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uploadtime" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="status" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    fileid, userid, objectid, objecttype, type, oldname, newname, size, path, relativepath, 
    uploadtime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sysfile
    where fileid = #{fileid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sysfile
    where fileid = #{fileid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wx.whatever.pojo.SysFile" >
    insert into sysfile (fileid, userid, objectid, 
      objecttype, type, oldname, 
      newname, size, path, 
      relativepath, uploadtime, status
      )
    values (#{fileid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{objectid,jdbcType=BIGINT}, 
      #{objecttype,jdbcType=BIGINT}, #{type,jdbcType=BIGINT}, #{oldname,jdbcType=VARCHAR}, 
      #{newname,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{path,jdbcType=VARCHAR}, 
      #{relativepath,jdbcType=VARCHAR}, #{uploadtime,jdbcType=DATE}, #{status,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wx.whatever.pojo.SysFile" >
    insert into sysfile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        fileid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="objectid != null" >
        objectid,
      </if>
      <if test="objecttype != null" >
        objecttype,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="oldname != null" >
        oldname,
      </if>
      <if test="newname != null" >
        newname,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="relativepath != null" >
        relativepath,
      </if>
      <if test="uploadtime != null" >
        uploadtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        #{fileid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="objectid != null" >
        #{objectid,jdbcType=BIGINT},
      </if>
      <if test="objecttype != null" >
        #{objecttype,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="oldname != null" >
        #{oldname,jdbcType=VARCHAR},
      </if>
      <if test="newname != null" >
        #{newname,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="relativepath != null" >
        #{relativepath,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wx.whatever.pojo.SysFile" >
    update sysfile
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="objectid != null" >
        objectid = #{objectid,jdbcType=BIGINT},
      </if>
      <if test="objecttype != null" >
        objecttype = #{objecttype,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="oldname != null" >
        oldname = #{oldname,jdbcType=VARCHAR},
      </if>
      <if test="newname != null" >
        newname = #{newname,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="relativepath != null" >
        relativepath = #{relativepath,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        uploadtime = #{uploadtime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
    </set>
    where fileid = #{fileid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wx.whatever.pojo.SysFile" >
    update sysfile
    set userid = #{userid,jdbcType=BIGINT},
      objectid = #{objectid,jdbcType=BIGINT},
      objecttype = #{objecttype,jdbcType=BIGINT},
      type = #{type,jdbcType=BIGINT},
      oldname = #{oldname,jdbcType=VARCHAR},
      newname = #{newname,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      path = #{path,jdbcType=VARCHAR},
      relativepath = #{relativepath,jdbcType=VARCHAR},
      uploadtime = #{uploadtime,jdbcType=DATE},
      status = #{status,jdbcType=BIGINT}
    where fileid = #{fileid,jdbcType=BIGINT}
  </update>
</mapper>