<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.whatever.dao.SystemCodeMapper" >
  <resultMap id="BaseResultMap" type="com.wx.whatever.pojo.SystemCode" >
    <constructor >
      <idArg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="code_desc_en" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="code_desc_zh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="code_desc_tr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="priority" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="disabled" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="need_control" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="parent_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_3" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_4" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_5" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_6" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_7" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_8" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="other_9" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created_dtm" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="created_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="last_modified_dtm" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_modified_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="deleted" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    code, code_desc_en, code_desc_zh, code_desc_tr, priority, disabled, need_control, 
    parent_code, other_1, other_2, other_3, other_4, other_5, other_6, other_7, other_8, 
    other_9, version, created_dtm, created_by, last_modified_dtm, last_modified_by, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from system_code
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from system_code
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wx.whatever.pojo.SystemCode" >
    insert into system_code (code, code_desc_en, code_desc_zh, 
      code_desc_tr, priority, disabled, 
      need_control, parent_code, other_1, 
      other_2, other_3, other_4, 
      other_5, other_6, other_7, 
      other_8, other_9, version, 
      created_dtm, created_by, last_modified_dtm, 
      last_modified_by, deleted)
    values (#{code,jdbcType=VARCHAR}, #{codeDescEn,jdbcType=VARCHAR}, #{codeDescZh,jdbcType=VARCHAR}, 
      #{codeDescTr,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{disabled,jdbcType=BIT}, 
      #{needControl,jdbcType=BIT}, #{parentCode,jdbcType=VARCHAR}, #{other1,jdbcType=VARCHAR}, 
      #{other2,jdbcType=VARCHAR}, #{other3,jdbcType=VARCHAR}, #{other4,jdbcType=VARCHAR}, 
      #{other5,jdbcType=VARCHAR}, #{other6,jdbcType=VARCHAR}, #{other7,jdbcType=VARCHAR}, 
      #{other8,jdbcType=VARCHAR}, #{other9,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{createdDtm,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{lastModifiedDtm,jdbcType=TIMESTAMP}, 
      #{lastModifiedBy,jdbcType=INTEGER}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wx.whatever.pojo.SystemCode" >
    insert into system_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="codeDescEn != null" >
        code_desc_en,
      </if>
      <if test="codeDescZh != null" >
        code_desc_zh,
      </if>
      <if test="codeDescTr != null" >
        code_desc_tr,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="needControl != null" >
        need_control,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="other1 != null" >
        other_1,
      </if>
      <if test="other2 != null" >
        other_2,
      </if>
      <if test="other3 != null" >
        other_3,
      </if>
      <if test="other4 != null" >
        other_4,
      </if>
      <if test="other5 != null" >
        other_5,
      </if>
      <if test="other6 != null" >
        other_6,
      </if>
      <if test="other7 != null" >
        other_7,
      </if>
      <if test="other8 != null" >
        other_8,
      </if>
      <if test="other9 != null" >
        other_9,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeDescEn != null" >
        #{codeDescEn,jdbcType=VARCHAR},
      </if>
      <if test="codeDescZh != null" >
        #{codeDescZh,jdbcType=VARCHAR},
      </if>
      <if test="codeDescTr != null" >
        #{codeDescTr,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
      <if test="needControl != null" >
        #{needControl,jdbcType=BIT},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        #{other2,jdbcType=VARCHAR},
      </if>
      <if test="other3 != null" >
        #{other3,jdbcType=VARCHAR},
      </if>
      <if test="other4 != null" >
        #{other4,jdbcType=VARCHAR},
      </if>
      <if test="other5 != null" >
        #{other5,jdbcType=VARCHAR},
      </if>
      <if test="other6 != null" >
        #{other6,jdbcType=VARCHAR},
      </if>
      <if test="other7 != null" >
        #{other7,jdbcType=VARCHAR},
      </if>
      <if test="other8 != null" >
        #{other8,jdbcType=VARCHAR},
      </if>
      <if test="other9 != null" >
        #{other9,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wx.whatever.pojo.SystemCode" >
    update system_code
    <set >
      <if test="codeDescEn != null" >
        code_desc_en = #{codeDescEn,jdbcType=VARCHAR},
      </if>
      <if test="codeDescZh != null" >
        code_desc_zh = #{codeDescZh,jdbcType=VARCHAR},
      </if>
      <if test="codeDescTr != null" >
        code_desc_tr = #{codeDescTr,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="needControl != null" >
        need_control = #{needControl,jdbcType=BIT},
      </if>
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null" >
        other_1 = #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        other_2 = #{other2,jdbcType=VARCHAR},
      </if>
      <if test="other3 != null" >
        other_3 = #{other3,jdbcType=VARCHAR},
      </if>
      <if test="other4 != null" >
        other_4 = #{other4,jdbcType=VARCHAR},
      </if>
      <if test="other5 != null" >
        other_5 = #{other5,jdbcType=VARCHAR},
      </if>
      <if test="other6 != null" >
        other_6 = #{other6,jdbcType=VARCHAR},
      </if>
      <if test="other7 != null" >
        other_7 = #{other7,jdbcType=VARCHAR},
      </if>
      <if test="other8 != null" >
        other_8 = #{other8,jdbcType=VARCHAR},
      </if>
      <if test="other9 != null" >
        other_9 = #{other9,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        created_dtm = #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wx.whatever.pojo.SystemCode" >
    update system_code
    set code_desc_en = #{codeDescEn,jdbcType=VARCHAR},
      code_desc_zh = #{codeDescZh,jdbcType=VARCHAR},
      code_desc_tr = #{codeDescTr,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      disabled = #{disabled,jdbcType=BIT},
      need_control = #{needControl,jdbcType=BIT},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      other_1 = #{other1,jdbcType=VARCHAR},
      other_2 = #{other2,jdbcType=VARCHAR},
      other_3 = #{other3,jdbcType=VARCHAR},
      other_4 = #{other4,jdbcType=VARCHAR},
      other_5 = #{other5,jdbcType=VARCHAR},
      other_6 = #{other6,jdbcType=VARCHAR},
      other_7 = #{other7,jdbcType=VARCHAR},
      other_8 = #{other8,jdbcType=VARCHAR},
      other_9 = #{other9,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      created_dtm = #{createdDtm,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
      last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>